altair
asttokens
attrs
bcrypt
beautifulsoup4
blinker
branca
cachetools
captcha
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
entrypoints
et_xmlfile
executing
extra-streamlit-components
Faker
favicon
folium
fonttools
gitdb
GitPython
htbuilder
idna
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
matplotlib-inline
mdurl
narwhals
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pydeck
Pygments
PyJWT
pymdown-extensions
pyparsing
python-dateutil
python-decouple
pytz
PyYAML
pyzmq
redis
referencing
requests
rich
rpds-py
six
smmap
soupsieve
st-annotated-text
st-theme
stack-data
streamlit
streamlit-aggrid
streamlit-authenticator
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-toggle-switch
streamlit-vertical-slider
streamlit_folium
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
validators
watchdog
wcwidth
xyzservices